div#footer
    div.am-container
        p.amz-cp
            a(href="javascript:;") POWERED BY &nbsp;
            a(href="") www.aimi10.com

script(src="/lib/amazeui/dist/js/amazeui.min.js")
script(src="/lib/masonry/dist/masonry.pkgd.min.js")
script(src="/lib/imagesloaded/imagesloaded.pkgd.min.js")
script(src="/lib/iscroll/build/iscroll-infinite.js")
//-script(src="js/all.min.js")
script(src="js/all.js")